*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 980px;
    width: 100%;
    margin: auto;
    align-items: center;
}

header nav{
    background-color: #ff6900;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-links, 
.nav-logo,
.nav-icon{
    padding: .5rem;
}

header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Per i link */
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.nav-links li{
    padding-right: 0.2rem;
    font-size: 0.9rem;
}

.nav-links ul a{
    display: inline-block;
    padding: 0 .3rem;
    text-decoration: none;
    color: white;
}

/* Per il logo */
.nav-logo{
    width: 160px;
}

/* Per le icone */
.nav-icon i{
    color: white;
    padding-right: 0.2rem;
    cursor: pointer;
}

/* hover su btn/link */
.nav-links a:hover{
    color: #1a1a1a;
}

.nav-icon i:hover{
    color: #1a1a1a;
}

/* MAIN PRODOTTI */
main{
    padding-top: 50px;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 33.3%;
    padding: 1rem 1rem; 
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card {
    display: block;
    position: relative;
}

/* hover su immagine */

.img-back{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.product-card:hover .img-back{
    display: block;
}

.btn-overlay{
    position: absolute;
    bottom: 2rem;
}

.btn-overlay .product-sales{
    background-color: #ff0000;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    padding: 0.3rem 0.5rem;
}

.btn-overlay .product-sustainability{
    background-color: #008000;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    padding: 0.3rem 0.5rem;
}

.btn-heart{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    background-color: white;
}

.btn-heart:hover{
    color: #ff0000;
}

.btn-heart i{
    padding: 0.5rem;
}

.product-description h4{
    font-weight: 100;
    font-size: 0.9rem;
}

.product-description h2{
    font-size: 1.2rem;
}

.price{
    font-size: 0.9rem;
}

.price .product-sales-red{
    color: #ff0000;
}

/* Footer */

footer nav{
    background-color: #1a1a1a;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.row{
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}

.footer-links, .footer-social{
    color: white;
}

ul{
    list-style: none;
    display: flex;
}

ul a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding-top: 1rem;
}

.footer-information ul a{
    padding-right: 0.3rem;
}

.footer-social-icon{
    display: flex;
    justify-content: center;
}

.footer-social-icon ul a{
    padding-right: 0.9rem;
}

.footer-social-icon i{
    font-size: 1.3rem;
}

/* hover su btn/link */
a:hover{
    color: #ff6900;
}



